*~
*.swp

# Object files
*.o
*.ko
*.obj
*.elf
*.lo
*.la


# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pkg
*.mpkg

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.gaux
*.idx
*.ilg
*.ind

## Tag and index files
tags
cscope.*

## Intermediate documents:
*.dvi
*.gtex
# these rules might exclude image files for figures etc.
*.ps
*.eps
*.pdf

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# http://www.gnu.org/software/automake
Makefile.in
Makefile
# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/build-aux
.deps
.libs
/m4
/libtool
config.status
lib/gregorio.pc
src/gregorio
src/utf8strings.h
src/encode_utf8strings

#emacs auto gen files
auto/

#Debian files
*.changes
*.xz
*.dsc
*.deb

#gregorio specific
doc/_minted-*
fonts/*.ttf
*.greaux
*.gz
*.bz2
*.zip
*-[ly].[ch]
windows/Ouput
*.dirstamp
config_.h
config_.h.in
stamp-h1
Makevars.template
macosx/build
macosx/Resources
res.txt
