Source: gregorio
Section: x11
Priority: optional
Maintainer: Elie Roux <elie.roux@telecom-bretagne.eu>
Build-Depends: debhelper (>= 7), libxml2-dev, flex, bison, docbook-to-man, xsltproc, autotools-dev, python, automake, libtool, libltdl7-dev, cvs, tex-common, libglib2.0-dev, docbook-xsl
Standards-Version: 3.8.0
Homepage: http://home.gna.org/gregorio

Package: gregorio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: gregoriotex
Description: command-line tool to typeset Gregorian chant
 Gregorio is a project with a lot of functionalities. The main interest is gabc,
 a very simple and fast language to describe a Gregorian chant score.
 The project is for now a command-line tool to convert gabc files into real
 score, like for example OpusTeX or GregorioTeX. But it also handles a XML
 format: GregorioXML.  You can use the tool to read or write gabc and
 GregorioXML, and to write OpusTeX and GregorioTeX.

Package: gregoriotex
Architecture: all
Depends: tex-common (>= 0.33), texlive-omega, texlive-fonts-recommended, ${misc:Depends}
Recommends: gregorio, luatex
Description: Omega style for Gregorian chant scores
 GregorioTeX is a omega style for writing Gregorian chant scores. The code to
 write for a score is quite complex and should be written directly by the
 gregorio software.
