Source: gregorio
Section: x11
Priority: optional
Maintainer: Elie Roux <elie.roux@enst-bretagne.fr>
Build-Depends: debhelper (>> 3.0.0), libxml2-dev, flex, bison, docbook-to-man, xsltproc, autotools-dev, fontforge, texlive-omega, python, perl, texlive-font-utils
Standards-Version: 3.6.2

Package: gregorio
Architecture: any
Depends: libxml2
Recommends: gregoriotex
Description: a command-line tool to typeset gregorian chant
 Gregorio is a project with a lot of functionalities. The main interest is gabc,
 a very simple and fast language to describe a gregorian chant score.
 The project is for now a command-line tool to convert gabc files into real
 score, like for example OpusTeX or GregorioTeX. But it also handles a XML
 format: GregorioXML.  You can use the tool to read or write gabc and
 GregorioXML, and to write OpusTeX and GregorioTeX.
 .
 For further details see http://home.gna.org/gregorio

Package: gregoriotex
Architecture: any
Depends: tex-common (>= 0.33), texlive-omega, texlive-fonts-recommended
Recommends: gregorio
Description: a omega style for gregorian chant scores
 GregorioTeX is a omega style for writing gregorian chant scores. For now it is
 not made to be written by humans but by gregorio.
 .
 For further details see http://home.gna.org/gregorio
