#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with tex,autoreconf,autotools-dev

override_dh_auto_configure:
	dh_auto_configure -- --with-kpathsea

override_dh_auto_build:
	dh_auto_build
	xsltproc --nonet /usr/share/xml/docbook/stylesheet/nwalsh/manpages/docbook.xsl debian/manpage.xml

override_dh_auto_install:
	dh_auto_install
	DESTDIR=debian/tmp ./install-gtex.sh var:TEXMFDEBIAN

override_dh_installchangelogs:
	dh_installchangelogs -k
